body
{
    background: url("./images/bg.jpg");
}
div#content
{
    margin: 20px auto;
    width: 770px;
}
div#menu
{
    height: 35px;
    width: 100%;
}
div#menu ul
{
    margin: 0px;
    padding: 0px;
}
div#menu ul li
{
    display: block;
    float: left;
    width: 100px;
    height: 34px;
    line-height: 35px; 
    text-align: center;
    border: 1px solid black;
    border-bottom: 0px;
    background: url("./images/menu_button.jpg");
}
div#menu ul li a
{
    color: black;
    display: block;
    float: left;
    width: 100px;
    height: 35px;
    text-decoration: none;
    font-weight: bold;
}
div#menu ul li a:hover
{
    color: white;
}
div#menu ul li.anal
{
    background: url("./images/ana_button.jpg");
}
div#subpage
{
    background: gray;
    border: 1px solid black;
}
div#text
{
}
div#logo
{
    height: 80px;
    border-bottom: 1px solid black;
    background: green;
}
div#map
{
    width: 498px;
    height: 498px;
    margin: 10px;
    margin-right: 0px;
    float: left;
    background: yellow;
}
div#map iframe
{
    width: 497px;
    height: 497px;
    border: 1px solid black;
}
div#combo
{
    margin: 10px auto;
    margin-bottom: 0px;
    width: 748px;
}
div#combo select
{
    width: 748px;
}
div#right_text
{
    width: 240px;
    height: 498px;
    margin: 10px;
    float: left;
}
div#legend
{
    height: 245px;
    margin-bottom: 8px;
    background: purple;
} 
div#image_comment
{
    height: 245px;
    background: lime;
}
div#description
{
    border: 1px solid green;
    float: left;
    width: 746px; 
    margin: 0px 10px;
}
div#foot
{
    border: 1px solid black;
    float: left;
    width: 746px;
    margin: 10px;
    text-align: center;
}
div#foot p
{
    font-size: 10px;
    font-family: "Courier New", "Monospace" , Courier, Monospace;
    margin: 2px;
}
